---
layout: default
title: Publicaciones
---
<h2>Publicaciones</h2>

<div class="search-bar">
    <input type="text" id="searchInput" placeholder="Buscar..." oninput="search()">
</div>

<ul id="List">
    {% assign sortedBlogs = site.blogs | sort: 'date' | reverse %}
    {% for blog in sortedBlogs %}
        {% if blog.view == true %}
            <li><h3><a href="{{ blog.url }}">{{ blog.title }}</a></h3></li>
        {% endif %}
    {% endfor %}
</ul>

<script>
    function search() {
        var input = document.getElementById("searchInput");
        var filter = input.value.toUpperCase();
        var ul = document.getElementById("List");
        var li = ul.getElementsByTagName("li");

        for (var i = 0; i < li.length; i++) {
            var a = li[i].getElementsByTagName("a")[0];
            var txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
