<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Xabier Gabiña Barañano's personal website">
    <meta name="keywords" content="Xabier, Gabiña, Barañano, Xabier Gabiña, Xabier Gabiña Barañano, Xabierland, UPV, UPV/EHU">
    <meta name="author" content="Xabier Gabiña Barañano">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="\css\style.css">
</head>
<body style="text-align: center;">
    <header">
        <h1>Xabierland</h1>
        <nav>
            <ul>
                <li><a href="/">Yo</a></li>
                <li><a href="/projects.html">Proyectos</a></li>
                <li><a href="/blogs.html">Publicaciones</a></li>
                <li><a href="/certificados.html">Certificados</a></li>
                <li><a href="/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
